body {
    background-color: black;
    transition: background-color 1s ease-in-out;
}
.btn{
    cursor: pointer;
}
h1 {
    color : rgb(51, 136, 136);
    transition : color 0.5s ease-in-out
}
.clicked{
    color : #685066;
}