.hidden{
    display: none;
}
body {
    color: white;
   
}
.btn{
    cursor: pointer;
}
.task__input {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
    margin: 50px 0;
    outline: none;
    border: 2px solid transparent;
    padding: 20px;
    border-radius: 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    transition: all 0.2s linear;
  }